:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  /* background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#root {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.app {
  display: flex;
  justify-self: center;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
  width: 50%;
  border-radius: 20px;
  /* background-color: rgb(15, 100, 150); */
}
.quiz-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.question {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
}
.quiz-header .quiz-sub {
  color: rgb(214, 211, 211);
  font-size: 35px;
  margin: 5px;
}
.quiz-answers li {
  list-style: none;
}
.answers {
  padding: 15px 15px 15px 15px;
  font-size: 19px;
  margin-top: 20px;
  background: transparent;
  border-radius: 7px;
  border: 2px solid rgb(53, 115, 156);
  outline: none;
  cursor: pointer;
  width: 90%;
  text-align: left;
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 40px 15px 40px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 18px;
  background: transparent;
  border: 1px solid white;
  margin-bottom: 20px;
}
.score-section {
  font-size: 30px;
}
@media screen and (max-width: 500px){
  .app {
    width: 100%;
  }
}